@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.bgUrl{
  background-image: url('./Components/Images/bdf.png');
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}


/* $small-One : 320px;
$small-Two : 480px;
$medium-One : 481px ;
$medium-Two : 768px;
$large-One : 1025px;
$large-Two : 1200px; */


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bgUrl{
    background-image: none;
    height: fit-content;
  }
}

.swiper-button-prev:after{
  display: none !important;
}

.swiper-button-next:after{
  font-size: 10px !important;
  top: -100px;
  right: 10px;
  position: absolute;
  background-color: black !important;
  color: white;
  padding: 10px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}


.react-multiple-carousel__arrow {
  min-width: 25px !important;
  min-height: 25px !important;
  bottom: 70px !important;
  z-index: 0 !important;
}


.react-multiple-carousel__arrow::before {
  font-size: 15px !important;
  color: #fff;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: -10 !important;
  position: relative;
}