@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.bgUrl{
  background-image: url('./Components/Images/bdf.png');
  background-size: contain;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
}


/* $small-One : 320px;
$small-Two : 480px;
$medium-One : 481px ;
$medium-Two : 768px;
$large-One : 1025px;
$large-Two : 1200px; */


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .bgUrl{
    background-image: none;
    height: fit-content;
  }
}



.react-multiple-carousel__arrow {
  min-width: 25px !important;
  min-height: 25px !important;
  bottom: 70px !important;
  z-index: 0 !important;
}


.react-multiple-carousel__arrow::before {
  font-size: 15px !important;
  color: #fff;
  display: block;
  font-family: revicons;
  text-align: center;
  z-index: -10 !important;
  position: relative;
}

.mycolor{
  color: rgb(2, 185, 152);
}

.mycolor2{
  background-color: rgb(2, 185, 152);
}

.mycolor3{
  border: 1px solid rgb(2, 185, 152);
}

.mycolor4{
  background-color: rgb(2, 114, 93);
}

.height{
  height: 75vh;
  max-width: 28%;
  width: 28%;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .height{
    height: 80vh;
    max-width: 95%;
    width: 95%;
  }
}

.width{
  width: 65%;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper-button-prev:after, .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 10px !important;
  font-weight: bold !important;;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  background-color: rgb(2, 158, 158);
  color: white !important;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}